NODE_ENV=local
API_PORT=3000
DATABASE_ENGINE=mysql
DATABASE_HOST=base-database
DATABASE_HOST_READ=base-database
DATABASE_PORT=3306
DATABASE_USER=mysql
DATABASE_PASSWORD=StrongPassword123!
DATABASE_NAME=base-db
DATABASE_SCHEMA=public
DATABASE_SYNCHRONIZE=false
JWT_SECRET=74YLbq4%c!wU
JWT_EXPIRATION_TIME=1800
JWT_REFRESH_TOKEN_SECRET=7jML9q4-c!s0
JWT_REFRESH_TOKEN_EXPIRATION_TIME=86400
FRONTEND_URL=http://localhost:3000
MAIL_PORT=587
MAIL_HOST=smtp.gmail.com
MAIL_USER=keplerlu@gmail.com
MAIL_PASSWORD=xxxxxxxxxxxxx
MAIL_FROM=${MAIL_USER}
DOMAIN=localhost
SERVER_PORT=3000
CAN_ACCESS_LOCAL=true
MQTT_PORT=1883