NODE_ENV=local
API_PORT=3000
DATABASE_ENGINE=better-sqlite3
DATABASE_PATH=./database/car-parking.sqlite
DATABASE_SYNCHRONIZE=false
JWT_SECRET=74YLbq4%c!wU
JWT_EXPIRATION_TIME=1800
JWT_REFRESH_TOKEN_SECRET=7jML9q4-c!s0
JWT_REFRESH_TOKEN_EXPIRATION_TIME=86400
FRONTEND_URL=http://localhost:3000
MAIL_PORT=587
MAIL_HOST=smtp.gmail.com
MAIL_USER=keplerlu@gmail.com
MAIL_PASSWORD=xxxxxxxxxxxxx
MAIL_FROM=${MAIL_USER}
DOMAIN=localhost
SERVER_PORT=3000
CAN_ACCESS_LOCAL=true
MQTT_PORT=1883
API_KEY=supersecretapikey12345